{{#if showBackLink}}
	<div class="left sliding" style="">
		<a href="#" class="back link">
			<span>Back</span></a>
	</div>
{{/if}}

<div class="center sliding" style="">{{title}}</div>

<div class="right">
	<a href="#" class="open-login link icon-only"></a>
</div>